.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    height: 100%;
    margin: 0;
}

.li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon_drag {
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px
}

.price {
    display: flex;
    gap: 4px;
    align-items: center;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}