.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    flex: 1 0 600px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    min-height: 0;
    margin: 0;
}

.li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon_drag {
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px
}

.price {
    display: flex;
    gap: 4px;
    align-items: center;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    min-height: 80px;
    border: 2px dashed transparent;
    border-radius: 12px;
}

.scroll_active {
    border: 2px dashed #4C4CFF;
}

.scroll_over {
    background-color: rgba(76, 76, 255, 0.58);
}