.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    min-height: 0;
    flex: 1;
}

.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}