body {
    margin: 0;
    font-family: 'Jet Brains Mono', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #131316;
    color: #F2F2F3;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}